.link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    //hover link effects
    &::before{
        content: '<';
        visibility: hidden;
        opacity: 1;
    }
 
    &:hover::before{
        visibility: visible;
        opacity: 1;
        color: #39ff5a;
    }
}